@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: pink;

    @include tablet {
        width: 614px;
    }

    &__header {
        padding: $padding*2;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include title;
    }

    &__date {
        @include date;
    }

    &__img {
        width: 100%;

        &-container {
            display: flex;
        }
    }
}