@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: inherit;
    padding-bottom: $padding*2;

    @include tablet {
        width: 614px;
        background-color: #FFF;
        border-radius: 4px;
        border: 1px solid rgb(219,219,219);
    }

    &__header {
        padding: $padding*2;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include title;
    }

    &__date {
        @include date;
    }

    &__img {
        width: 100%;

        &-container {
            display: flex;
        }
    }

    &__video {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        
        &-container {
            overflow:hidden;
            padding-bottom:56.25%;
            position:relative;
            height:0;
        }
    }

    &__btn {
        border-style: none;
        background-color: transparent;
        padding: $padding;

        &-container {
            display: flex;
            padding: 0 $padding*2;
            margin-top: $margin*0.5;
        }
    }

    &__description {
        margin: $margin*0.5 0 0;
        padding: 0 $padding*2;
        font-size: 14px;
    }
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    &__path-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__outline  {
        fill: transparent;
        stroke: #a00;
        stroke-width: 8;

        &.on {
            transform: scale(1.75);
            opacity:0;
            stroke: #c00;
            transform-origin: 50% 50%;
            transition: transform, stroke, opacity;
            transition-duration: .6s, .01s, .4s;
            transition-delay: 0s, 0s, .2s;
        }
    }

    &__full {
        fill: none;
        stroke: transparent;
        transform-origin: 50% 50%;
        stroke-width: 8px;
        transform: scale(1);
        transition:none;

        &.on {
            fill: #a00;
            stroke: #a00;
        }
    }
}