@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: $padding*3 0;
    background-color: $light-grey;

    @include tablet {
        padding: $padding*4 0;
    }
}